---
sudo: required
services:
  - docker
language: python

python:
  - "3.7"
  - "3.8"
  - "3.9"
env:
  - ANSIBLE="2.9"
  - ANSIBLE="2.10"
  - ANSIBLE="3.0"
before_install:
  - python -m pip install --upgrade wheel
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
install: pip install tox-travis
script: tox

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
