---
sudo: required
services:
  - docker
language: python

python:
  - "3.6"
env:
  - ANSIBLE="2.8"
  - ANSIBLE="2.9"
install: pip install tox-travis
script: tox

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
